<% if current_user %>
  <div class="container">
    <h1>Welcome <%= @current_user.name %></h1>
    <button><a href="/meals/<%= @current_user.id %>">Create Meal</a></button>
    <button><a href="/users/all">Active Diners</a></button>
    <button><a href="/users/<%= @current_user.id %>">Profile</a></button>
  </div>
  <div class="container">
      <h2>Active Meals</h2>
       <% @meals.each do |meal| %>
          <h3>Location</h3>
          <p><%= meal.location %></p>
          <h3>Date</h3>
          <p><%= meal.date %></p>
          <h3>Time</h3>
          <p><%= meal.time %></p>
          <h3>Comments</h3>
          <p><%= meal.comments %></p>
          <h3>Diner</h3>
          <button><a href="/users/<%= meal.user_id %>"><%= User.find(meal.user_id).name %></a></button><br><br><hr>
      <% end %>
  </div>
  <div id="map_canvas"></div>
<% else %>
  <div class="container">
    <h3>Welcome!</h3>
    <h4>Shared Meal is a place to connect with others, break bread and share a meal.</h4>
    <p>If you're out dining on your own, why not post a meal? A fellow user can see who'll be dining in their area and join you.</p>
    <p>What connections or conversations can be built over the time of one meal? That's up to you. This is more about community and less about commitment.</p>
    <p>Share the empty seats at your table, be nice and split the bill (or ask for separate tabs).</p>
  </div>
  <div class="container"><h3>Explore! Please sign in or up to continue....</h3></div>
<% end %>

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(37.784, -122.397)
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
 </script>
