<% if current_user %>
  <div class="container">
      <h1><%= @current_user.name %></h1>
      <button><a href="/">Active Meals</a></button>
      <button><a href="/users/<%= @current_user.id %>">Profile</a></button>
    </div>
  <div class='container'>
    <h2>Active Diners</h2>
    <% @users.each do |user| %>
      <h3>Diner</h3>
      <button><a href="/users/<%= user.id %>"><%= user.name %></a></button>
      <h3>Bio</h3>
      <p><%= user.bio %></p>
      <h3>Active Meals</h3>
      <p><%= user.meals.count %></p><hr>
    <% end %>
  </div>
<% else %>
  <div class='container'>
    <h2>Active Diner</h2>
    <% @users.each do |user| %>
      <h3>Diner</h3>
      <p><%= user.name %></p>
      <h3>Bio</h3>
      <p><%= user.bio %></p>
      <h3>Active Meals</h3>
      <p><%= user.meals %></p>
      <h3>Joined</h3>
      <p><%= user.created_at.strftime("%D") %></p><hr>
    <% end %>
  </div>
<% end %>
